
  <div>
    <nav class="navbar bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="../app.component.html">DiscoveringWorlds</a>
      <span class="navbar-text">
        Descubre el mundo, una aventura a la vez
      </span>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
    </nav>
  </div>

