<div>
    <h2 class="text-center" id="americaNorte">AMERICA DEL NORTE</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 content-area mt-5">
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/nuevaYork.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nueva York</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/miami.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Miami</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/cataratas.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cataratas del Niagara</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/cancun.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cancún</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-5">

<div>
    <h2 class="text-center mt-5" id="caribe">EL CARIBE</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 content-area mt-5">
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/cuba.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cuba</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/puntaCana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Punta Cana</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/puertoRico.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Perto Rico</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/jamaica.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jamaica</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/republicaDominicana.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Republica Dominicana</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/aruba.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Aruba</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-5">

<div>
    <h2 class="text-center mt-5" id="americaSur">AMERICA DEL SUR</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 content-area mt-5">
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/cartagena.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cartagena</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/buenosAires.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Buenos Aires</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/chile.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chile</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/rioJaneiro.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rio de Janeiro</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/ejecafetero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eje Cafetero</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/machupichu.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Machu Pichu</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/salar.jpe" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Salar de Uyuni</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-5">

<div>
    <h2 class="text-center" id="europa">EUROPA</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 content-area mt-5">
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/paris.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Paris</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/amsterdam.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Amsterdam</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/alpes.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alpes Suizos</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="../../assets/img/madrid.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Madrid</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>