
<div class="asidenavbar p-5">
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <a class="nav-link active" aria-current="page" href="../app-content-area/app-content-area.component.html#americaNorte">America del norte</a>
    </li>
    <li class="nav-item mb-3">
      <a class="nav-link active" aria-current="page" href="../app-content-area/app-content-area.component.html#caribe">El caribe</a>
    </li>
    <li class="nav-item mb-3">
      <a class="nav-link active" aria-current="page" href="../app-content-area/app-content-area.component.html#americaSur">America del sur</a>
    </li>
    <li class="nav-item mb-3">
      <a class="nav-link active" aria-current="page" href="../app-content-area/app-content-area.component.html#europa">Europa</a>
    </li>
  </ul>  
</div>

